body,
html {
    height: 100%;
    margin: 0;
}

.bg {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(190, 190, 190);
    height: 100%;
    background-image: url(img/ivana-cajina-asuyh-_ZX54-unsplash.jpg); 
    /*Photo by Ivana Cajina https://unsplash.com/@von_co on Upsplash  */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

button {
    height: 80px;
    width: 80px;
    border-radius: 5px;
    font-size: 25px;
    background-color: rgb(210 210 210 / 68%);
    border: 1px solid rgb(145 145 145);
    box-shadow: 1px 1px 3px rgb(44, 44, 44);
    font-family: 'Orbitron';
}

button:active {
    transform:translateY(2px);
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 450px;
    height: 600px;
}

.calculator-container {
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    width: 450px;
    height: 450px;
    padding: 20px;
    background: linear-gradient(140deg, rgb(145, 145, 145) 10%, 
        rgb(192, 192, 192) 25%, rgb(145, 145, 145) 50%, 
        rgb(192, 192, 192) 75%, rgb(145, 145, 145) 90%);
    border: 8px solid rgb(41 213 255);
    box-shadow: 0px 0px 60px 25px rgb(94 162 255 / 50%);
    border-radius: 17px;
}

.display-container {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100px;
    width: 444px;
    overflow: hidden;
    font-family: 'Orbitron';
    font-size: 25px;
    border: 6px solid rgb(75, 75, 75);
    border-radius: 5px;
    background: linear-gradient(170deg, rgba(116,232,255,1) 0%, rgba(224,251,255,1) 49%, rgba(122,233,255,1) 100%);
    margin-bottom: 22px;
}

.numbers {
    width: 260px;
    height: 350px;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap-reverse;
}

.operators,
.functions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80px;
    height: 350px;
}

.functions {
    flex-direction: column-reverse;
}

/* special escape syntax for classes starting with numbers ie \3 */
.\30 {
    width: 170px;
}

#equals {
    height: 170px;
    background-color: cornflowerblue;
    border: 1px solid rgb(63, 92, 146);

}

#add {
    background-color: aquamarine;
    border: 1px solid rgb(96, 196, 162);
    font-family: sans-serif;
    font-size: 30px;
}

#subtract {
    background-color: pink;
    border: 1px solid rgb(190, 142, 150);
}

#multiply {
    background-color: greenyellow;
    border: 1px solid rgb(118, 175, 31);
}

#divide {
    background-color: orange;
    border: 1px solid rgb(180, 118, 2);
}

#operator-display {
    margin: 0 10px 0 3px;
}

footer {
    margin-bottom: 50px;
    font-family: 'Orbitron';
    color: white;
}

